* text eol=lf

# Project Files
*.aseprite   binary
*.ase        binary

# Images
*.ico        binary
*.png        binary
*.jpg        binary
*.jpeg       binary
*.mp4        binary
*.webp       binary
*.webm       binary
