@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: m5x7;
    font-style: normal;
    src: url(../assets/font/m5x7.ttf);
  }
}

@layer utilities {
  .crisp-edges {
    image-rendering: crisp-edges;
  }
}
