@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: m5x7;
    font-style: normal;
    src: url(../assets/font/m5x7.ttf);
  }
}

@layer utilities {
  .pixelated {
    image-rendering: pixelated;
  }

  .text-glow {
    filter: brightness(1.2);
    text-shadow: 0 0 12px rgba(255, 255, 255, 0.7);
  }
}
