---
import { Image } from 'astro:assets'
import BaseLayout from '../layout/BaseLayout'
import DiscordProfile from '../components/DiscordProfile'
import Plasma from '../components/Plasma'
import Header from '../components/Header'

import ProfileImage from '../assets/icon/profile_l.webp'

const icons: Array<{ title: string; classNames: string[]; svg: string; url: string }> = [
  {
    title: 'Contact',
    classNames: ['hover:fill-lime-500'],
    svg: (await import('@material-icons/svg/svg/alternate_email/round.svg?raw')).default,
    url: 'https://forms.gle/V9jm3mTt9XjUisHV9',
  },
  {
    title: 'GitHub',
    classNames: ['hover:fill-purple-500'],
    svg: (await import('simple-icons/icons/github.svg?raw')).default,
    url: 'https://github.com/ashnel3',
  },
  {
    title: 'GitLab',
    classNames: ['hover:fill-[#fc6d26]'],
    svg: (await import('simple-icons/icons/gitlab.svg?raw')).default,
    url: 'https://gitlab.com/ashnel3',
  },
  {
    title: 'Patreon',
    classNames: ['hover:fill-orange-500'],
    svg: (await import('simple-icons/icons/patreon.svg?raw')).default,
    url: 'https://www.patreon.com/ashnel3',
  },
  {
    title: 'LinkedIn',
    classNames: ['hover:fill-[#0A66C2]'],
    svg: (await import('simple-icons/icons/linkedin.svg?raw')).default,
    url: 'https://www.linkedin.com/in/ashnel3/',
  },
]
---

<BaseLayout>
  <Header client:load />
  <Plasma client:load transition:persist class="absolute inset-0">
    <div class="flex w-full h-full justify-center items-center">
      <div
        class="flex flex-col pt-8 p-4 rounded-md w-11/12 sm:max-w-2xl bg-zinc-800 overflow-hidden"
      >
        <div class="flex gap-6 items-center justify-center">
          <DiscordProfile client:idle userID="110109604423163904">
            <Image
              alt="User Profile"
              class="w-36 min-w-24 min-h-24 shadow-xl rounded-full"
              width={144}
              height={144}
              src={ProfileImage}
              loading="eager"
            />
          </DiscordProfile>
          <div class="mb-6">
            <h2 class="mb-2 text-xl sm:text-2xl font-semibold text-white">Hey, I'm Ash</h2>
            <span class="text-sm sm:text-base text-white">
              <p class="mb-1">I'm a software developer and modder from Eugene,&nbsp;OR.</p>
              <p>
                I make things occasionally,
                <a class="underline" href="/rss" target="_blank">subscribe</a>
                for updates (:
              </p>
            </span>
          </div>
        </div>
        <footer class="-mt-2">
          <ul class="flex gap-2 justify-center">
            {
              icons.map((i) => (
                <li title={i.title}>
                  <a
                    href={i.url}
                    rel="noopener noreferer"
                    class:list={[
                      'block p-2 transition-colors rounded-full fill-white bg-zinc-900',
                      ...i.classNames,
                    ]}
                  >
                    <div class="w-6 h-6" set:html={i.svg} />
                  </a>
                </li>
              ))
            }
          </ul>
        </footer>
      </div>
    </div>
  </Plasma>
</BaseLayout>
