---
import { Image } from 'astro:assets'
import BaseLayout from '../layout/BaseLayout'
import Plasma from '../components/Plasma'
import Header from '../components/Header'

import ProfileImage from '../assets/icon/profile_l.webp'
---

<BaseLayout>
  <Header client:load />
  <Plasma client:load transition:persist class="absolute inset-0">
    <div class="flex flex-col gap-4 w-full h-full items-center justify-center">
      <a class="mb-2 select-none" href="/">
        <Image
          alt="User Profile"
          class="rounded-full shadow-xl w-36"
          width={422}
          height={422}
          src={ProfileImage}
          loading="eager"
        />
      </a>
      <div class="py-2 px-4 rounded-md whitespace-nowrap shadow-xl bg-zinc-900">
        <h2 class="text-white">
          <span class="select-none">$&nbsp;</span>
          <span>echo</span>
          <span class="text-lime-300">'Hello World!'</span>
          <span class="animate-blink-1 select-none">&nbsp;&block;</span>
        </h2>
      </div>
    </div>
  </Plasma>
</BaseLayout>
