---
import BaseHead from './BaseHead.astro'
import Header from '../../components/Header'
import type { BaseLayoutProps } from './BaseLayout'

import '../../styles'

type Props = BaseLayoutProps

const { title = 'ashnel3' } = Astro.props
---

<html lang="en">
  <BaseHead {...Astro.props}>
    <title>{title}</title>
  </BaseHead>
  <body>
    <div style="display: contents">
      <Header client:load />
      <slot />
    </div>
  </body>
</html>
