---
const { class: classNames } = Astro.props
---

<span class={`cursor ${classNames}`}>&block;</span>

<style>
  .cursor {
    animation: cursor 1s steps(5, start) 1s infinite;
  }

  @keyframes cursor {
    to {
      visibility: hidden;
    }
  }
</style>
